/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.zed
.DS_Store
Thumbs.db

# Laravel Specific
/storage/debugbar
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
!/storage/app/.gitignore
!/storage/framework/cache/.gitignore
!/storage/framework/cache/data/.gitignore
!/storage/framework/sessions/.gitignore
!/storage/framework/testing/.gitignore
!/storage/framework/views/.gitignore
!/storage/logs/.gitignore

# Backup & Legacy
/_legacy_backup
*.sql
*.sqlite
*.log
